.center-element {
	    text-align:center;
}

.containerbody{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
    color: black !important;
    margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
}
 
.preview-image{
	width: 260px;
  	height: 170px;
}

.full-image{
	width:100%;
	height:100%
}
